# Data cleaning and dataset creation

## Imports

In [14]:
# Internal functions
from clean import load_data, clean_educ_cats, clean_marital_cats, clean_hhh_rel_cats, collapse
from split import cr_pmt_split

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Data imports and cleaning

First, load the data and remove extraneous variables. Then, collapse categories at the respondent-level. Finally, move to collapse categories.

In [16]:
cr_df = load_data("train.csv")

In [17]:
cr_df = clean_educ_cats(cr_df)
cr_df = clean_marital_cats(cr_df)
cr_df = clean_hhh_rel_cats(cr_df)
cr_df.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4t3,...,educ_5_complete_secondary,educ_6_any_postsecondary,marital_1_child,marital_2_partnered,marital_3_married,marital_4_separated,hhh_rel_1_hhh,hhh_rel_2_hhh_spouse,hhh_rel_3_offspring,hhh_rel_4_other
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,1,...,False,False,False,False,False,True,True,False,False,False
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,1,...,False,True,False,False,False,True,True,False,False,False
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,1,...,True,False,False,False,False,True,True,False,False,False
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,4,...,False,False,False,False,False,True,False,False,True,False
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,4,...,True,False,False,True,False,False,False,True,False,False

## 2 | Feature engineering

This section creates features used in the analysis.

In [ ]:
# TODO: Need to write these

## 3 | Train-test split

Collapse the dataset into the household-level and create training, validation, and test sets to train models.

In [ ]:
# Collapse data to household-level 
# TODO: need to write collapse
cr_df = collapse(cr_df)

In [ ]:
# Conduct split
X_train, y_train, X_val, y_val, X_test, y_test = cr_pmt_split(cr_df)