# Data cleaning and dataset creation

## Imports

In [8]:
# External packages
import numpy as np
import pandas as pd
import sys as sys
from sklearn.model_selection import train_test_split

# Internal functions
from clean import load_data, clean_educ_cats, clean_marital_cats, clean_hhh_rel_cats

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Data imports and cleaning

In [12]:
train = load_data("train.csv")

In [13]:
train = clean_educ_cats(train)
train = clean_marital_cats(train)
train = clean_hhh_rel_cats(train)
train.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,educ_5_complete_secondary,educ_6_any_postsecondary,marital_1_child,marital_2_partnered,marital_3_married,marital_4_separated,hhh_rel_1_hhh,hhh_rel_2_hhh_spouse,hhh_rel_3_offspring,hhh_rel_4_other
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,False,False,False,False,False,True,True,False,False,False
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,False,True,False,False,False,True,True,False,False,False
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,True,False,False,False,False,True,True,False,False,False
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,False,False,False,False,False,True,False,False,True,False
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,True,False,False,True,False,False,False,True,False,False